

* {
  box-sizing: border-box;
}

.globalThemeChange {
  transitionDuration: 300s
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.img-div img {
  width: 100%;
  height: auto;
}

a {
  color: #1de491;
}

section {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

img.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title:hover {
  transform: none;
}

h1 {
  font-size: 5rem;
}

.box {
  margin-bottom: 40px;
}

.dark-mode-switch {
  position: fixed;
  top: 0px;
  right: 20px;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 35px;
	height: 17.5px;
	background: black;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	background: #fff;
	border-radius: 50%;
	transition: 0.3s;
}

input:checked + label {
	background: #5433ac;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  @apply rounded-lg flex-col;
  display: block;
  max-width: 300px;
  max-height: 400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
}

img:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: .3s ease;
}

img:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.img-box {
  float: left;
  margin-top: 1.2rem;
}

h2.img-title {
  display: flex;
  justify-content: center;
  margin: 0.15em 0 0.15em 0;
}

h3.img-name {
  display: flex;
  justify-content: center;
  margin: 0.15em 0 0.15em 0;
}

p {
  margin: 0;
}

.bid-button-div {
  display: flex;
  justify-content: center;
}

.bid-button {
  display: inline-block;
  margin: auto;
  background-color: black;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
}

a.bid-button {
  border-radius: 5px;
}

a.bid-button:hover {
  background: linear-gradient(284deg, rgba(17,51,226,1) 0%, rgba(184,36,187,1) 100%);
}

a.bid-button:active {
  transform: translateY(1px);
}

div.footer {
  position: static;
  bottom: 5px;
  left: 5px;
  font-size: 10px;
}

span.footer-span {
  position: static;
  bottom: 5px;
  left: 5px;
  font-size: 10px;
  margin: 10px;
}

.footer-a {
  text-decoration: none;
}

/* @media only screen and (min-width: 1500px) {
  .img-box {
    width: 25%;
    margin: 1rem 0;
  }


} */

@media only screen and (min-width: 1500px) {
  /* section {
    margin: 0rem 10rem;
  } */

/*   span {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 10px;
    margin: 5px;
  } */

  html {
    margin-bottom: 2rem;
  }

  .img-box {
    width: 25%;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 1200px) {
  /* section {
    margin: 0rem 5rem;
  } */

/*   span {
    position: fixed;
    bottom: 5px;
    left: 5px;
    font-size: 10px;
    margin: 5px;
  } */

  .img-box {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 1000px) {
  .img-box {
    width: 49.99999%;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 700px) {
  .img-box {
    width: 100%;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .img-box {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}