* {
  box-sizing: border-box;
}

.globalThemeChange {
  transitionDuration: 300s
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

div.img-div img {
  width: 100%;
  height: auto;
}

a {
  color: blue;
}

section {
  padding: 1rem;
}

.title-div {
  margin: 5rem;
}

.title:hover {
  transform: none;
}

h1 {
  font-size: 5rem;
}

.dark-mode-switch {
  position: absolute;
  top: 15px;
  right: 15px;
}

:-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  @apply rounded-lg flex-col;
  display: block;
  max-width:300px;
  max-height:400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
}

img:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  transition: .3s ease;
}

img:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.img-box {
  float: left;
  margin-top: 1.2rem;
}

h2.img-title {
  display: flex;
  justify-content: center;
  margin: 0.15em 0 0.15em 0;
}

h3.img-name {
  display: flex;
  justify-content: center;
  margin: 0.15em 0 0.15em 0;
}

p {
  margin: 0;
}

.bid-button-div {
  display: flex;
  justify-content: center;
}

.bid-button {
  display: inline-block;
  margin: auto;
  background-color: black;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid white;
}

a.bid-button {
  border-radius: 5px;
}

a.bid-button:hover {
  background: linear-gradient(284deg, rgba(17,51,226,1) 0%, rgba(184,36,187,1) 100%);
}

a.bid-button:active {
  transform: translateY(1px);
}

.footer {
  position: static;
  bottom: 8px;
  left: 8px;
  font-size: 10px;
}

.footer-a {
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .img-box {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .img-box {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}